body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table{
  margin:auto;
}
td{
  border-right: solid;
}
thead{
  border-bottom: solid;
}
.lastRow{
  border-right: white;
}
.pool{
  height: 50px;
}
input[type="range"]{
  /* -webkit-appearance: none; */
  width:100%;
  /* height: 30px; */
  border: 2px solid black;
  /* outline: none; */
  /* transition: background 450ms ease-in; */
}
input[type=range]::-webkit-slider-thumb{
  opacity: 0;
}